#root {
  height: 100%;
  background: #232323;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  /* background: #232323; */
  height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px dashed #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
